.markerContainer {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  .img {
    width: 50px;
    height: 50px;
  }
  .detail {
    .artist {
      font-size: 18px;
    }
    .title {
      text-align: left;
      font-size: 15px;
    }
  }
}
