.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 800px;

  .infoWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .spotifyWrapper {
      width: 20%;
      height: 100%;
      min-width: 400px;
    }

    .mapWrapper {
      width: 80%;
      height: 100%;
    }
  }
}
