@use '/src/styles/constants/colors';

.markerContainer {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  background-color: colors.$WHITE;
  border-radius: 10px;
  color: colors.$GRAY2;
  .img {
    width: 45px;
    height: 45px;
  }
  .detail {
    padding-left: 10px;
    .artist {
      font-size: 20px;
      font-weight: bold;
    }
    .title {
      text-align: left;
      font-size: 15px;
    }
  }

  button {
    width: fit-content;
    .trashIcon {
      margin-left: 5px;
      width: 24px;
      height: 24px;
    }
  }
}
