@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  li {
    padding: 5px 0;
    cursor: pointer;

    .trackInfo {
      display: flex;
      flex-direction: row;

      .img {
        border-radius: 10px;
      }

      .detail {
        padding-left: 10px;

        .title {
          font-size: 20px;
          font-weight: 500;
        }

        .trackName {
          padding-top: 5px;
          font-size: 15px;
        }
      }
    }
  }
  li:hover {
    background-color: colors.$SDEEPPINK;
  }
}
