@use '/src/styles/constants/colors';

.container {
  width: 100%;
  margin-bottom: 5px;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    input {
      width: 80%;
      height: 40px;
      background-color: colors.$WHITE;
      border-radius: 10px;
      padding: 5px;
      margin-right: 5px;
      font-size: 18px;
    }
    button {
      width: 53px;
      height: 25px;
      margin-left: auto;
      padding: 2px 5px;
      margin: 5px;
      box-sizing: content-box;
      background-color: colors.$GRAY2;
      color: colors.$WHITE;
      border-radius: 500px;
      font-weight: bold;

      &:hover {
        background-color: colors.$GRAY6;
      }
    }
  }
}
