@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85px;
  padding: 5px;
  background-color: colors.$BLACK;
  color: colors.$WHITE;
  font-size: 18px;

  .textWrap {
    width: 60%;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
  }

  p {
    display: -webkit-box;
    width: 100%;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .title {
    font-weight: bold;
    color: colors.$SDEEPPINK;
    margin-bottom: 5px;
  }

  .buttonWrap {
    width: 40%;
    padding: 5px;
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100px;
      height: 30px;
      margin-left: auto;
      padding: 2px 5px;
      border-radius: 500px;
      background-color: colors.$SPINK;
      color: colors.$GRAY2;
      box-sizing: content-box;
      font-weight: bold;
    }
    button:hover {
      background-color: colors.$SDEEPPINK;
    }
  }
}
