@use '/src/styles/constants/colors';

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: colors.$SBLUE;

  .logo {
    width: 80px;
    height: 80px;
  }

  .textTitle {
    font-size: 60px;
    font-weight: 700;
  }
}
