@font-face {
  font-family: 'Circular';
  src: local('../../font/CircularStd-Medium.otf');
  font-weight: normal;
}

body,
button,
input,
textarea {
  font-family: 'Circular', sans-serif, Arial, PingFangSC-Regular, 'Microsoft YaHei';
  font-feature-settings: 'tnum';
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
